{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">Bienvenue sur mon blog</h1>
    <p class="lead">Vous allez lire des choses incroyables</p>
    <hr class="my-2">
    <p>Vous allez voir, ce site est génial page d'Accueil a faire</p>
</div>

<p><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, nihil. Similique maxime expedita omnis a
        repellendus perferendis quam numquam obcaecati architecto! Laborum fugiat voluptatem quas delectus assumenda
        dolorem, totam similique.</span><span>Doloremque illum quos maiores sequi iure facilis neque quo, nemo laborum
        ipsam eos, tenetur voluptatum rerum, dolores cum reiciendis vel non similique. Sunt quaerat non consequatur
        harum accusantium enim unde.</span></p>
<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, tempora! Laudantium nostrum odit, dicta
        totam nisi aspernatur nobis nam voluptatum voluptas possimus quidem quaerat explicabo natus quae quos quasi
        provident.</span><span>Totam suscipit quia excepturi neque. Maiores quasi harum fugiat molestias numquam
        recusandae at debitis laborum, doloribus itaque, ipsa similique fuga consequatur optio. Delectus, repellat fuga
        hic dolore ipsum qui fugiat.</span></p>
<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum inventore error qui aliquid molestiae ipsa
        tempore impedit cum reprehenderit excepturi! Molestias ipsa fuga assumenda facilis aspernatur ratione dicta,
        maxime libero?</span><span>Facere eos, et illo unde numquam aperiam quaerat ad? Assumenda corrupti delectus,
        nihil ullam atque ducimus error labore, voluptate, cum eligendi cumque aut dolor sint optio! Porro vel sequi
        quia?</span></p>
<p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis explicabo voluptate aliquam, corporis odit
        ratione odio cumque quod minus harum error amet id et minima temporibus, est omnis, veniam
        delectus.</span><span>Aut nisi laboriosam doloremque dicta dolores sit rem culpa magnam cum cupiditate
        aspernatur autem quos vero quibusdam, molestias distinctio eius sint debitis! Magnam suscipit eveniet quod quam
        provident perspiciatis aliquam!</span></p>
<p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam atque quo doloribus odio libero aperiam, ab
        pariatur adipisci perferendis quod recusandae? Aliquid laudantium provident tempore hic inventore non doloremque
        recusandae?</span><span>Debitis possimus natus atque eos quod facilis voluptatibus eligendi odit corporis,
        totam, animi impedit hic dignissimos modi quo, quidem dolores explicabo qui perferendis sequi sit! Laboriosam
        eius perspiciatis excepturi ipsum.</span></p>
{% endblock %}