{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-3">Bienvenue sur mon blog</h1>
    <p class="lead">Vous allez lire des choses incroyables</p>
    <hr class="my-2">
    <p>Vous allez voir, ce site est génial page d'Accueil a faire</p>
</div>

<div class="container">
<h2 class="text-center"> Mes derniers hébergements </h2>
<div class="col-3 flex">
    {% for lodging in lodgings %}
       <div class="card">
           <img class="card-img-top" data-src="holder.js/100x180/?text=Image cap" alt="Card image cap">
           <div class="card-body">
           <h4 class="card-title">
               <a href="#">{{lodging.name}}</a>
               </h4>
               <h5 class="card-title">
               <a href="#">{{lodging.hostel}}</a>
               </h5>
               <p class="card-text">
               {{lodging.Description}}
               </p>
           </div>
          
       </div>
    {% endfor %}
</div>
        
</div>
{% endblock %}