{% extends 'base.html.twig' %}

{% block title %}New CommentLodging{% endblock %}

{% block body %}
    <h1>Create new CommentLodging</h1>

    {{ include('comment_lodging/_form.html.twig') }}

    <a href="{{ path('comment_lodging_index') }}">back to list</a>
{% endblock %}
