{% extends 'base.html.twig' %}

{% block title %}Nouveau hébergements{% endblock %}

{% block body %}
    <h1>Votre dernier hébergements</h1>

    {{ include('lodging/_form.html.twig') }}

    <a href="{{ path('lodging_index') }}">Retour a la liste</a>
{% endblock %}
